snippet !more "Read more tag"
	<!-- more -->

snippet tick "inline tick"
	\`$1\`

snippet ticks "backtick codeblock simple"
	\`\`\`
	$1
	\`\`\`

snippet ticksall "backtick codeblock all options"
	\`\`\` ${1:language} ${2:title} ${3:url} ${4:link_title}
	$5
	\`\`\`

snippet block "blockquote tag plugin simple"
	{% blockquote  %}
	$1
	{% endblockquote %}

snippet block "blockquote tag plugin all options"
	{% blockquote ${1:author} ${2:link} ${3:link_title} %}
	$4
	{% endblockquote %}

snippet pull "pullquote tag plugin"
	{% pullquote ${1:class} %}
	$2
	{% endpullquote %}

snippet code "code block tag plugin simple" b
	{% codeblock lang:$1 ${2:title} %}
	$3
	{% endcodeblock %}

snippet codeblock "code block tag plugin all options"
	{% codeblock lang:$1 ${2:line_number:false} ${3:highlight:false} ${4:title} ${5:url} ${6:link_title} %}
	$7
	{% endcodeblock %}

snippet raw "raw tag plugin"
	{% raw %}
	$1
	{% endraw %}

snippet jsfiddle "jsFiddle snippet tag plugin"
	{% jsfiddle ${1:shorttag} ${2:tabs} ${3:skin} ${4:width} ${5:height} %}

snippet gist "gist snippet tag plugin"
	{% gist ${1:gist_id} ${2:filename} %}

snippet iframe "iframe snippet tag plugin"
	{% iframe ${1:url} ${2:width} ${3:height} %}

snippet img "image tag plugin"
	{% img ${1:class names} ${2:image path} ${3:width} ${4:height} ${5:title text} ${6:alt text} %}

snippet link "link tag plugin"
	{% link ${1:text} ${2:url} ${3:external} ${4:title} %}

snippet incl "include code snippet tag plugin"
	{% include_code ${1:title} lang:${2:language} ${3:path} %}

snippet youtube "YouTube snippet tag plugin"
	{% youtube ${1:video id} %}

snippet vimeo "Vimeo snippet tag plugin"
	{% vimeo ${1:video id} %}

snippet ppath "post path snippet tag plugin"
	{% post_path ${1:slug} %}

snippet plink "post link slug snippet tag plugin"
	{% post_link ${1:slug} ${2:title} %}

snippet asspath "asset path tag plugin"
	{% asset_path ${1:slug} %}

snippet assimg "asset image tag plugin"
	{% asset_img ${1:image slug} ${2:image title} %}

snippet asslink "asset link tag plugin"
	{% asset_img ${1:link slug} ${2:link title} %}

# vim:ft=snippets:
